* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

header,
footer {
	background-color: #182037;
}

.sidebar {
	background-color: #131931;
}

a.active {
	color: #44a0ce;
	text-decoration: none;
	pointer-events: none;
	background-color: #0e1122;
	border-left-color: #209ae5;
}

input[aria-invalid='true'] {
	border: 1px solid red;
}
